@{
    ViewBag.Title = "بوابة أخبار اليوم - أعلن معنا";
    string JID = AkhbarElyoum.Controllers.HomeController.GetJournalID(HttpContext.Current.Request.Url.Host, int.Parse((HttpContext.Current.Request.QueryString["JournalID"] != null) ? HttpContext.Current.Request.QueryString["JournalID"].ToString() : "0"));
    Layout = "../Shared/_LayoutInner.cshtml";
}

@section Meta{
<title>بوابة أخبار اليوم - أعلن معنا</title>
}



@{
GetGalleryPictures()
}