@{ Layout = "~/Views/Shared/_LayoutInner.cshtml"; } 

@model string

@{
    ViewBag.Title = "Error 404";
}

@section Meta{
<title>Page Not Found - الصفحة غير موجودة</title>
}
@section home {
<h2 style="text-align:center;">
    عفوا حدث خطأ
	<br>
	الصفحة غير موجودة
	<br>
	Page Not Found
</h2>
}
