<section class="module" id="EsdaratDiv">
    <div class="container">
        <div class="nohighlight">
            <!--========== BEGIN .COL-MD-12 ==========-->
            <div class="col-md-12">
                <!--========== BEGIN .NEWS ==========-->
                <div class="FooterIsdarat">

                    <h2 class="HomeSecTitle">
                        إصدارات أخبار اليوم
                    </h2>

                    <div id="big-gallery-slider-3" class="owl-carousel esdarat">
                        <div class="big-gallery"><a href="https://akhbarelyom.akhbarelyom.com/"> <img src="/IsdaratImages/akhbarelyom.jpg" alt="أخبار اليوم" /> </a> </div>
                        <div class="big-gallery"><a href="https://akhbar.akhbarelyom.com/"> <img src="/IsdaratImages/akhbar.jpg" alt="الأخبار" /> </a> </div>
                        <div class="big-gallery"><a href="https://nogoom.akhbarelyom.com/"> <img src="/IsdaratImages/nogoom.jpg" alt="أخبار النجوم" /> </a> </div>
                        <div class="big-gallery"><a href="https://hawadeth.akhbarelyom.com/?mag=ak"> <img src="/IsdaratImages/hwadeth.jpg" alt="أخبار الحوادث" /> </a> </div>
                        <div class="big-gallery"><a href="https://akhersaa.akhbarelyom.com/"> <img src="/IsdaratImages/akhersaa.jpg" alt="آخر ساعة" /> </a> </div>
                        <div class="big-gallery"><a href="https://reyadi.akhbarelyom.com/"> <img src="/IsdaratImages/reyada.jpg" alt="أخبار الرياضة" /> </a> </div>


                        <div class="big-gallery"><a href="https://sayarat.akhbarelyom.com/"> <img src="/IsdaratImages/sayarat.jpg" alt="أخبار السيارات" /> </a> </div>
                        <div class="big-gallery"><a href="https://classic.akhbarelyom.com/"> <img src="/IsdaratImages/clasic.jpg" alt="كلاسيك" /> </a> </div>
                        <div class="big-gallery"><a href="https://fares.akhbarelyom.com/"> <img src="/IsdaratImages/fares.jpg" alt="فارس" /> </a> </div>
                        <div class="big-gallery"><a href="https://allwaa.akhbarelyom.com/"> <img src="/IsdaratImages/lewaa.jpg" alt="اللواء الإسلامي" /> </a> </div>
                        <div class="big-gallery"><a href="https://almsaey.akhbarelyom.com/" > <img src="/IsdaratImages/msaee.jpg" alt="الأخبار المسائي" /> </a> </div>
                        <div class="big-gallery"><a href="https://adab.akhbarelyom.com/"> <img src="/IsdaratImages/adab.jpg" alt="أخبار الادب" /> </a> </div>
                    </div>


                                

                </div>
            </div>
        </div>
    </div>
</section>













