<section class="module" id="EsdaratDiv">
    <div class="container">
        <div class="nohighlight">
            <!--========== BEGIN .COL-MD-12 ==========-->
            <div class="col-md-12">
                <!--========== BEGIN .NEWS ==========-->
                <div class="FooterIsdarat">

                    <h2 class="HomeSecTitle">
                        إصدارات أخبار اليوم
                    </h2>

                    <div class="FooterIsdaratDiv">
                      @*  <marquee  behavior="scroll" direction="right" onmouseover="this.stop();" onmouseout="this.start();">*@
                            <ul>
                                <li>
                                    <a class="img-link" href="https://akhbarelyom.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/akhbarelyom.png" alt="أخبار اليوم"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://akhbar.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/akhbar.png" alt="الأخبار"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://nogom.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/nogoom.png" alt="أخبار النجوم"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://hawadeth.akhbarelyom.com/?mag=ak" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/hwadeth.png" alt="أخبار الحوادث"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://akhersaa.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/akhersaa.png" alt="آخر ساعة"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://reyadi.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/reyada.png" alt="أخبار الرياضة"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://sayarat.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/sayarat.png" alt="أخبار السيارات"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://ketabelyom.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/ketab.png" alt="كتاب اليوم"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://classic.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/clasic.png" alt="كلاسيك"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://fares.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/fares.png" alt="فارس"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://allwaa.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/lewaa.png" alt="اللواء الإسلامي"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://almsaey.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/msaee.png" alt="الأخبار المسائي"></a>
                                </li>
                                <li>
                                    <a class="img-link" href="https://adab.akhbarelyom.com/" target="_blank"><img class="img-responsive img-full" src="/Images/images/logos_bwaba/adab.png" alt="أخبار الادب"></a>
                                </li>
                            </ul>
                      
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>













