@{string JID = AkhbarElyoum.Controllers.HomeController.GetJournalID(HttpContext.Current.Request.Url.Host, int.Parse((HttpContext.Current.Request.QueryString["JournalID"] != null) ? HttpContext.Current.Request.QueryString["JournalID"].ToString() : "0"));}
<!-- Start Side Block -->

<div class="col-md-4">
    <div class="internal-sidebar">
        <div class="row">

            @*<!-- Begin .title-style01 -->
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="sidebar-add-place" style="width: 300px;"><a href="#"><img src="/Images/NewBanners/1.jpg"></a></div>
            </div>
    
            <!-- Begin .title-style02 -->
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="sidebar-add-place" style="width: 300px;"><a href="#"><img src="/Images/NewBanners/2.GIF"></a></div>
            </div>*@

           


            <div class="col-md-12 col-sm-6 col-xs-12" style="padding:0px;">
              @Html.Action("GetHomeMostViewedList", "News", new { JournalID = JID })
            </div>


              

            </div>
    </div>
</div>

<!-- EndSideBlock -->

	