
@{
    ViewBag.Title = "Privacy";
    string JID = AkhbarElyoum.Controllers.HomeController.GetJournalID(HttpContext.Current.Request.Url.Host, int.Parse((HttpContext.Current.Request.QueryString["JournalID"] != null) ? HttpContext.Current.Request.QueryString["JournalID"].ToString() : "0"));
    Layout = "../Shared/_LayoutInner.cshtml";
}

@section Meta{
<title>بوابة أخبار اليوم - سياسة الخصوصية</title>
}

@*
<div class="ContCont">
@Html.Action("GetBlockTextList", "Blocks", new { BlockID = 39, JournalID = JID })

</div>*@

<p>

سياسة الخصوصية لبوابة أخبار اليوم
أعزاءنا القراء؛ نقدم لكم في هذه الصفحة سياسة خصوصية بوابة أخبار اليوم "akhbarelyom.com"، والتي يتم تشغيل وإدارتها من قبل مؤسسة أخبار اليوم، وذلك لتعرفوا كامل حقوقكم الناتجة عن استخدامكم لبوابة أخبار اليوم.
ويجب أن تتأكدوا في البداية أن حفاظ وضمان خصوصية استعمالكم لبوابة أخبار اليوم وخصوصية المعلومات المقدمة من قبلكمعلى رأس قائمة اهتمامات مؤسسة أخبار اليوم، والهدف من إعلان سياسة الخصوصية ليس سوى تأكيدا على سعينا لتقديم أفضل الخدمات الصحفية، والإعلامية، والإعلانية لكم.
ونؤكد أن هذه سياسة الخصوصية فيبوابة أخبار اليوم تتوافق مع القوانين المحلية والعالمية لحماية حقوق الملكية والخصوصية؛ كما تتوافق مع سياسات المؤسسات الصحفية العالمية، ومواقع التواصل الاجتماعي، ومحركات البحث.
مقدمة
إن سياسة الخصوصية هذه تعلمك سياستنا فيما يتعلق بجمع واستعمال وإفشاء المعلومات الشخصية أثناء استخدامالموقع؛ بالإضافة للخيارات المتعلقة بهذه المعلومات بموجب سياسة الخصوصية.
بوابة أخبار اليوم نقوم باستعمال معلوماتك الشخصية لتقديم الخدمات المتاحة في الموقع وتحسينها و/أو تحسين استعمال الموقع، واستعمال القارئ أو المستخدم لبوابة أخبار اليوم، تعتبر موافقة على جمعنا للمعلومات واستعمالها وفقًا لهذه السياسة.
تعريفات
لغايات هذه السياسة، يكون للمصطلحات التالية المعاني المحددة لها كما يأتي ما لم تنص سياسة الخصوصية على خلاف ذلك:
•	معلوماتك الشخصية: إنّ معلومات مستخدم الموقع سواء كانت هذه المعلومات بحوزتنا أو من المحتمل أن تصبح بحوزتنا.
•	بيانات الاستعمال: وتعني أنّ البيانات المجمعة بشكل تلقائيّ سواء كانت ناتجة عن استعمال الموقع و/أو ناتجة عن بنية الموقع ذاتها (على سبيل المثال مدة زيارة الصفحة).
•	مراقبة المعلومات: يعني نحن أو أي شخص طبيعي أو معنوي الذي يقرر (لوحده أو مع الغير) الغاية من معالجة المعلومات الشخصية أو الطريقة التي تعالج بها أو التي سيتم معالجتها بها.
•	معالجي المعلومات (أو مقدمي الخدمات): وتعني أي شخص طبيعي أو معنوي يعالج المعلومات بالنيابة عن مراقب المعلومات.
•	المستخدم: وهو أي شخص طبيعي يقوم باستخدام الخدمات و/أو الموقع وذات صلة بالمعلومات الشخصية.
سياسة الخصوصية
الاستخدام العادي للموقع
يمكنك، عموماً، تصفّح موقع المنظمة دون أن تكشف عن هويتك أو تدلي بأية معلومات شخصية. 
والمعلومات الوحيدة التي نجمعها أثناء التصفّح العام للموقع هي المعلومات العامة التي تُجمع في سجلات الخادم العادية. وتشمل تلك المعلومات عنوان بروتوكول الإنترنت"IP"واسم المجال الخاصين بك ونوع برنامج التصفّح ونظام التشغيل اللّذين تستخدمهما، فضلاً عن معلومات أخرى مثل عنوان الموقع الذي نفذت منه إلى موقعنا والملفات التي تحمّلها والصفحات التي تزورها وتواريخ/مواعيد تلك الزيارات.

 تجميع المعلومات واستعمالها:
من الممكن أنتقوم مؤسسة أخبار اليوم بتجميع معلومات متنوعة لغايات مختلفة؛ لتقديم الخدمات المتاحة على الموقع قرائها ومستخدميها وتشمل على سبيل المثال لا الحصر:
•	البريد الإلكتروني.
•	الاسم الأول والاسم الأخير.
•	رقم الهاتف.
•	العنوان، والمنطقة، والمحافظة، والرمز البريدي، والمدينة.
•	الكوكيز وبيانات الاستعمال.
•	البيانات من الشبكات الاجتماعية إذا كنت تستخدم حسابات الشبكة الاجتماعية الخاصة بك للتسجيل وإنشاء حساب في الموقع، ومن المعلومات المستخدمة من مواقع الشبكات الاجتماعية مثل Facebook، وTwitter ما يلي:
o	اسمك.
o	اسم المستخدم للشبكة الاجتماعية.
o	الموقع.
o	الجنس.
o	تاريخ الميلاد.
o	عنوان البريد الإلكتروني.
o	صورة الملف الشخصي.
o	البيانات العامة لجهات الاتصال وذلك إذا قمت بتوصيل حسابك أو تسجيل الدخول للحصول على حساب في الخدمة باستخدام حساباتك في هذه الشبكات الاجتماعية.
قد نستخدم معلوماتك الشخصية لإيصالك بالخدمات، والمواد الإعلانية والترويجية، ومعلومات أخرى أيًّا كان نوعها، والتي قد تكون من ضمن اهتماماتك.
بيانات الاستعمال:
قد نعمل على تجميع المعلومات التي يقوم المتصفح الخاص بك بإرسالها عندما تقوم بزيارة الموقع، أو دخولك له من خلال أو بواسطة جهاز هاتف نقال.
بيانات الاستعمال هذه قد تتضمن معلومات مثل: عنوان الإنترنت،وإصدار المتصفح، والبروتوكول لجهاز حاسوبك، ونوع المتصفح، ، وصفحات الموقع التي تقوم بزيارتها، والوقت الذي استغرقته على هذه الصفحات، ووقت وتاريخ زيارتك لها، ومعرفات الجهاز النادرة وغيرها من البيانات التشخيصية.
وعندما تقوم بالدخول للموقع من خلال جهاز هاتف محمول، قد تتضمن بيانات الاستعمال هذه معلومات مثل نوع جهاز الهاتف المحمول الذي تستعمله، ومعرف الهاتف الفريد الخاص بهاتفك المحمول، وعنوان الإنترنت والبروتوكول الخاص بهاتفك المحمول، ونوع متصفح الإنترنت عبر الهاتف المحمول المستعمل من قبلك ومعرفات الجهاز النادرة وغيرها من البيانات التشخيصية.
الموقع الجغرافي:
قد نستعمل ونخزن معلومات عن موقعك إذا قمت بالسماح لنا بالقيام بذلك، ونستعمل هذه البيانات لتقديم مميزات متعلقة بخدمتنا ولتحسين الخدمة وتكييفها، ويمكنكِ تفعيل أو عدم تفعيل خدمات الموقع الجغرافي عند استعمال القارئ للخدمة بأي وقت من خلال إعدادات جهازك.
بيانات الكوكيز والتتبع:
نحن نقوم باستعمال الكوكيز وتكنولوجيا تتبع مماثلة لتتبع النشاط على الموقع ونقوم بالاحتفاظ بمعلومات معينة.
وللتوضيح فإن الكوكيز هي ملفات تحتوي على بيانات قليلة، وقد تتضمن أدوات تعريف نادرة وغامضة، ويتم إرسال الكوكيز للمتصفح الخاص بك من الموقع الإلكتروني، ويتم تخزينها على جهازك، ليتم استعمال تكنولوجيا تتبع من أنواع أخرى مثل العلامات المميزة والنصوص وذلك لغايات تجميع المعلومات وتتبعها وتطوير الخدمات وتحليلها.
بإمكانك تقييد المتصفح الخاص بك ليقوم برفض الكوكيز أو ليقوم بتحديد والإشارة إلى عملية إرسال كوكيز بأي حال من الأحوال، إذا كنت لا توافق على الكوكيز فإنك قد لا تتمكن من استعمال أجزاء معينة من الموقع.
ومن الأمثلة لملفات تعريف الارتباط التي نستخدمها:
•	ملفات تعريف ارتباط الجلسة: نحن نستخدم ملفات تعريف الارتباط الخاصة بالجلسات لتشغيل خدمتنا.
•	ملفات تعريف الارتباط المفضلة: نحن نستخدم ملفات تعريف الارتباط المفضلة لتذكر تفضيلاتك والإعدادات المختلفة.
•	ملفات تعريف الارتباط الأمنية: نحن نستخدم ملفات تعريف ارتباط الأمان لأغراض أمنية.
•	ملفات تعريف الارتباط الإعلانية: تُستخدم ملفات تعريف الارتباط الإعلانية لخدمتك بإعلانات قد تكون ذات صلة بك واهتماماتك.
 استعمال البيانات:
نحن نقوم باستعمال البيانات المجمعة لغايات متنوعة، تشمل على سبيل المثال وليس الحصر:
•	لغايات تقديم خدماتنا.
•	لغايات إشعارك عن أي تغييرات بخدماتنا.
•	لتمكينك بناء على اختيارك من المشاركة في الخصائص التفاعلية لخدمتنا.
•	لتقديم خدمة دعم العملاء.
•	لتجميع تحليلات أو معلومات قيمة تمكننا من تطوير خدماتنا و/أو الموقع.
•	لمراقبة استعمال خدماتنا و/أو الموقع.
•	لكشف ومعالجة المشاكل التقنية والحد منها.
•	لتزويدك بالأخبار والعروض الخاصة ومعلومات عامة عن بضائع وخدمات ومناسبات أخرة نقدمها والتي تتشابه مع البضائع والخدمات التي قمت بشرائها أو الاستفسار عنها إلّا إذا قمت بالانسحاب من تلقي مثل هذه المعلومات.
الأسس القانونية لمعالجة البيانات وفقا لأحكام النظام العام لحماية البيانات (GDPR):
إذا كنت من المنطقة الاقتصادية الأوروبية، فإنّ الأُسس القانونية المتبعة من قِبل الموقع في جمع المعلومات الشخصية واستعمالها كما هي موصوفة في سياسة الخصوصية تعتمد على المعلومات الشخصية التي نقوم بجمعها والسياق المحدد الذي تم جمعها به.
قد نقوم بمعالجة معلوماتك الشخصية لأي من تلك الأسباب:
•	حاجتنا للاتصال بك.
•	قد قمت بالسماح لنا بالقيام بذلك.
•	إذا كانت المعالجة لمصلحتنا المشروعة ولا تتجاوز حقوقك.
•	لغايات عمليات الدفع.
•	للالتزام بأحكام القانون.
الرجاء الاتصال بنا إذا كنت ترغب بمعرفة أي معلومات شخصية عنك نحتفظ بها وإذا كنت ترغب بأن تحذف هذه المعلومات من أنظمتنا.
ويكون لديك حقوق حماية البيانات التالية:
•	الحق بالدخول أو تحديث أو حذف المعلومات التي نملكها عنك بأي وقت ممكن: لديك الحق بالدخول أو تحديث أو طلب حذف معلوماتك الشخصية وبشكل مباشر من خلال قسم إعدادات حسابك. الرجاء الاتصال بنا لمساعدتك في حال عدم تمكنك من ممارسة هذه الخطوات.
•	الحق بالتصحيح: لديك الحق بتصحيح معلوماتك في حال كانت هذه المعلومات غير دقيقة أو ناقصة.
•	الحق بالاعتراض: لديك الحق بالاعتراض على قيامنا بمعالجة معلوماتك الشخصية.
•	الحق بالتقييد: لديك الحق بأن تقدم لنا طلب بتقييد معالجة معلوماتك الشخصية.
•	الحق بنقل البيانات: لديك الحق بأن يتم تزويدك بنسخة عن المعلومات التي بحوزتنا عنك وذلك بشكل منظم، مقروء آليًا ومستعمل بشكل متعارف عليه.
•	الحق بسحب الموافقة: لديك أيضًا الحق بأي وقت بسحب موافقتك التي اعتمدنا عليها وبناء عليها قمنا بمعالجة معلوماتك الشخصية.
ماهي مدة احتفاظنا ببياناتك
 إذا تركت تعليقاً، فسيتم الاحتفاظ بالتعليق والبيانات الوصفية الخاصة به إلى أجل غير مسمى. وهذا حتى يمكننا التعرّف على أي تعليقات متتابعة والموافقة عليها تلقائياً بدلاً من الاحتفاظ بها في قائمة انتظار المراجعة للموافقة عليها.
بالنسبة للمستخدمين الذين قاموا بالتسجيل على موقعنا (إن وجد)، نقوم أيضًا بتخزين المعلومات الشخصية التي يقدمونها في ملف تعريف المستخدم الخاص بهم. يمكن لجميع المستخدمين الاطلاع على معلوماتهم الشخصية أو تعديلها أو حذفها في أي وقت (باستثناء أنه لا يمكنهم تغيير اسم المستخدم الخاص بهم). يمكن لمسؤولي مواقع الويب أيضًا رؤية هذه المعلومات وتحريرها.
تحويل البيانات:
من الممكن تحويل وحفظ معلوماتك، بما في ذلك المعلومات الشخصية، على أجهزة حاسوب متواجدة خارج نطاقك الجغرافي أو أي اختصاص حكومي آخر تكون فيها قوانين حماية البيانات تختلف عن تلك الخاصة بمنطقتك واختصاصك.
إن موافقتك على سياسة الخصوصية هذه وقيامك تبعًا لذلك بتقديم المعلومات يمثل موافقتك على تحويل بياناتك لأي دولة أخرى يتواجد فيها أي من شركاتنا التابعة و/أو الحليفة.
نحن نقوم باتخاذ كافة الإجراءات الضرورية بشكل معقول للتأكيد على أنه يتم التعامل مع بياناتك بطريقة آمنة وبما يتوافق مع سياسة الخصوصية هذه، وأنه لن يتم تحويل بياناتك الشخصية لأي منظمة أو دولة إلّا في حال توفر ضوابط كافية بما في ذلك أمن بياناتك والمعلومات الشخصية الأخرى..
 الإفشاء تطبيقًا لأحكام القانون:
في ظروف معينة، قد يكون المطلوب منّا أن نقوم بالإفشاء عن معلوماتك الشخصية في حال تطلب ذلك القانون أو للإجابة على طلبات السلطات الحكومية النافذة (على سبيل المثال المحكمة أو جهة حكومية).
قد نقوم بالإفشاء عن معلوماتك الشخصية بحسن نية إذا كان هذا الفعل ضروري لـ:
•	تطبيق الالتزامات القانونية.
•	لحماية حقوق مؤسسة أخبار اليوم أخبار اليوم ليمتد و/أو أي من شركاتها التابعة و/أو الحليفة أو أي من ممتلكاتها والدفاع عنها.
•	للحد من أي فعل خاطئ متعلق بالموقع.
•	لحماية الأمن الشخصي لمستخدمين الموقع و/أو العامة.
•	للحماية في مواجهة المسؤولية القانونية.
 أمن البيانات:
إن أمن بياناتك مهم لدينا ولكن لا بد من التذكير بأن وسائل النقل عبر الإنترنت ووسائل التخزين الألكتروني ليست 100% آمنة.
وفي الوقت الذي نسعى فيه لاستعمال الوسائل التجارية المقبولة لحماية معلوماتك الشخصية إلّا أننا لا نضمن أنها آمنة بشكل مطلق حيث أن بعض الأحداث قد تقع خارج سيطرتنا ولا تكون متعلقة بسلوك متعمد و/أو الإهمال المتعمد من قبلنا.
الاعلانات:
قد نحتاج لاستعمال أطراف ثالثة من مقدمي الخدمات لعرض الإعلانات لك، للمساعدة على دعم الخدمات و/أو الموقع والمحافظة عليها.
تشمل الأطراف الثالثة على سبيل المثال وليس الحصر:
•	Google AdSense DoubleClick Cookie
•	AdMob by Google
 تجديد النشاط التسويقي السلوكي:
نحن نقوم باستعمال خدمات تجديد النشاط التسويقي للإعلان على المواقع الإلكترونية للأطراف الثالثة بعد قيامك بزيارة الموقع.
نحن والطرف الثالث نستعمل الكوكيز لإعلام وتحسين وتقديم الإعلانات وفقًا للزيارات السابقة لديك لموقعنا، وتشمل الأطراف الثالثة على سبيل المثال وليس الحصر:
•	إعلانات جوجل.
•	تويتر.
•	فيسبوك.
مقدمو الخدمة:
من الممكن أن نقوم بالاستعانة بخدمات أطراف ثالثة سواء شركات وأفراد لغاية تسهيل خدماتنا ("مقدمي الخدمات") و/أو لتقديم الخدمات بالنيابة عنّا و/أو تقديم خدمات ذات علاقة بخدماتنا و/أو مساعدتنا في تحليل الكيفية التي تُستخدم فيها خدماتنا.
سيكون لمقدم الخدمة من الأطراف الثالثة الحق الاطلاع على معلوماتك الشخصية فقط لغايات القيام بمهامهم نيابة عنّا وسيكونوا ملتزمين بعدم إفشائها أو استخدامها لأي غايات أخرى.
 الدفع:
قد نقوم بتزويدك بمنتجات بأجر و/أو خدمات مشمولة بالموقع، بهذه الحالة، نحن نقوم باستعمال خدمات أطراف ثالثة لعمليات الدفع (مثل معالجي الدفع).
لن نقوم بتخزين أو جمع معلومات بطاقة الدفع الخاصة بك، يتم تزويد هذه المعلومات للطرف الثالث بها مباشرة بحيث يكون استعمالهم لمعلوماتك الشخصية معالج بسياسة الخصوصية الخاصة بهم.
- روابط لمواقع أخرى:
قد يحتوي الموقع على روابط لمواقع أخرى لا يتم تشغيلها من قبلنا، نحن ننصحك بأن تعمل على مراجعة سياسة الخصوصية لكل موقع إلكتروني تزوره.
نحن لا نملك السيطرة ولا نتحمل المسؤولية على المحتوى، أو سياسات الخصوصية أو ممارسات مواقع الأطراف الثالثة وخدماتها.
التعديل على سياسة الخصوصية:
قد نعمل على تحديث سياسة الخصوصية هذه من وقت لآخر دون إشعار.
ننصحك بأن تعمل على قراءة ومراجعة سياسة الخصوصية هذه بشكل دوريّ، إنّ أيّ تغييرات على سياسة الخصوصية هذه يكون معمول بها من تاريخ نشرها على الموقع.



</p>
