@using CMS.Areas.FrameWork.Controllers


<div class="">
    <div class="btn-group">
        <a class="btn btn-xs btn-bricky dropdown-toggle " href="#" data-toggle="dropdown">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right" role="menu">

           
                <li role="presentation">

                    @*@Ajax.CustomRowFunctionsAjaxActionLink("<i class=\"" + Permission.ImagePath + "\"></i> " + Permission.ActionEngName, Permission.Area, Permission.Controller, Permission.Action, (int)ViewBag.ID, null, null, new Dictionary<string, object> { { "tabindex", "-1" }, { "role", "menuitem" } })*@

                </li>



        </ul>
    </div>
</div>