@model IEnumerable<AkhbarElyoum.Models.NewsDetails>
@{int count = 0;string JID = AkhbarElyoum.Controllers.HomeController.GetJournalID(HttpContext.Current.Request.Url.Host, int.Parse((HttpContext.Current.Request.QueryString["JournalID"] != null) ? HttpContext.Current.Request.QueryString["JournalID"].ToString() : "0"));}
@if(JID == "6") {
	foreach (var item in Model) {
		if(count < 4) {
			if(count == 3) {
							<div class="tr shortcut">
								<div class="tr shortcut-box shortcut-last">
									<div class="td first">
										@if(item.CategoryID==1){
										<img src="https://Images.akhbarelyom.com/images/images/small/@item.PictureName1" />}
                                                               else{
                                        <img src="https://Images.akhbarelyom.com/images/images/small/editor@(item.EditorID).jpg" width="621" height="360" class="thumI" />
                                                               }
									</div>
									<div class="td description">
											<a href="/news/newdetails/@item.NewsID/@JID/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))">@item.Title</a>
									</div>
								</div>
							</div>
			} else {
							<div class="tr shortcut">
								<div class="tr shortcut-box">
									<div class="td first">
										@if(item.CategoryID==1){
										<img src="https://Images.akhbarelyom.com/images/images/small/@item.PictureName1" />}
                                                               else{
                                        <img src="https://Images.akhbarelyom.com/images/images/small/editor@(item.EditorID).jpg" width="621" height="360" class="thumI" />
                                                               }
									</div>
									<div class="td description">
											<a href="/news/newdetails/@item.NewsID/@JID/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))">@item.Title</a>
									</div>
								</div>
							</div>
			}
		}
		count++;
	}
} else {
<div class="wrapper">

@if (Model.Count() == 0)
{
<p style="direction:rtl;text-align:center;font-family:arial;font-size:17px;padding:6px 0px;">
   لا يوجد بيانات متاحة حاليا.
</p>
}


@foreach (var item in Model)
{
    
    <div class="newboxH3"><!-- start articles -->
                        	<div class="imgThum">
                            	<img src="https://Images.akhbarelyom.com/images/images/small/@item.PictureName1" width="76" height="51" class="thumI" />
                            </div>
                            <div class="trnk8">
                                <a href="/news/newdetails/@item.NewsID/@JID/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))" class="newsTitle2 dirStyle">@item.Title</a>
                           </div>     
                         @*@Html.ActionLink("المزيد", "/newdetails", new {ID=@item.NewsID,JournalID=@JID}, new { @class = "moreBtn" })*@
						 <a href="/news/newdetails/@item.NewsID/@JID/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))" class="moreBtn">المزيد</a>
                        </div><!-- end articles -->
}
</div>
}