@model IEnumerable<AkhbarElyoum.Models.NewsDetails>
@{
    int count = 0;
}

<div class="col-sm-4 Newsmost-reads" style="background-color: #10273f;">

    <div class="module-title">
		<h2 class="MoreReads"> ترشيحاتنا </h2>

        @foreach (var item in Model)
        {
            if (count <= 3)
            {
                <div class="container-half">
                    <h4 class="MoreReadsH4">
                        @if (item.SectionID == 149 || item.SectionID == 150 || item.SectionID == 151 || item.SectionID == 156)
                    {
                            <a href="/news/VideoDisplay/@item.NewsID/1/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))" title="@item.Title"> @item.Title </a>
                        }
                        else
                        {
                            <a href="/news/newdetails/@item.NewsID/1/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))" title="@item.Title"> @item.Title </a>
                        }
                    </h4>
                </div>
            }
            count++;
        }
    </div>

</div>



