@model IEnumerable<AkhbarElyoum.Models.NewsDetails>
@{int count = 0; string cssclass = ""; string JID = AkhbarElyoum.Controllers.HomeController.GetJournalID(HttpContext.Current.Request.Url.Host, int.Parse((HttpContext.Current.Request.QueryString["JournalID"] != null) ? HttpContext.Current.Request.QueryString["JournalID"].ToString() : "0"));

}

@if (Model.Count() > 0)
{

    if (Model.FirstOrDefault().NewsID > 1)
    {
        foreach (var item in Model)
        {
            if (count == 0)
            {
          <a href="/news/newdetails/@item.NewsID/@JID/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.Title))">
                                            <img src="https://Images.akhbarelyom.com/images/images/large/@item.PictureName1" class="newimageSS" id="hoverImg" alt="@item.Breif" />
                                        </a>
                count++;
            }
        }
        
    }

}