<!--jqury taps JS-->
@{
    string JID = AkhbarElyoum.Controllers.HomeController.GetJournalID(HttpContext.Current.Request.Url.Host, int.Parse((HttpContext.Current.Request.QueryString["JournalID"] != null) ? HttpContext.Current.Request.QueryString["JournalID"].ToString() : "0"));
    Layout = "../Shared/_LayoutInner.cshtml";
    //"../Shared/_Layout" + JID + ".cshtml";
    int count = 0;
    var cssclass = "";
    int? SectionID = 0;
    ViewBag.Title = "الخدمات";
    }
<link rel="stylesheet" type="text/css" href="/css/@JID/taps/style.css" />
<script src="/js/jquery-easing.1.2.js" type='text/javascript'></script>
<script src="/js/jquery-easing-compatibility.1.2.js" type='text/javascript'></script>
<script src="/js/coda-slider.1.1.1.js" type='text/javascript'></script>
<script type='text/javascript'>
    $(function () {
        $("#blogSlider").codaSlider();
    });
</script>
<script type="text/javascript">

    var isenabled = true;
    var page = -1;
    if ($(".lastid:last").attr("idx")) {
        page = $(".lastid:last").attr("idx").toString();
    }
    else {
        $('.showMore').hide();
        $('.no-more-data').show();
    }
    var GetSection = function () {
        $.ajax({
            type: "GET",
         
            contentType: "html/text",
            dataType: "html",
            cache: false,
            success: function (msg) {
                var container = $("#NewsSectionPaging");
                if (msg.trim() !== "") {
                    container.append(msg);
                } else {
                    $('.showMore').hide();
                    $('.no-more-data').show();
                }
                var isenabled = true;
            }
        });
    }
    $(document).ready(function () {
        //console.log("Init complete.");
        // create a long list of items
        var container = $("#NewsSectionPaging");
        var pagenumber = 0;
        if ($(".lastid:last").attr("idx")) {
            page = $(".lastid:last").attr("idx").toString();
        }
        else {
            $('.showMore').hide();
            $('.no-more-data').show();
        }
        var appendToList = function (msg) {
            container.append(msg);
        }
        container.bind("infinite-scroll", function (args) {
            if ($(".lastid:last").attr("idx")) {
                page = $(".lastid:last").attr("idx").toString();
            }
            else {
                $('.showMore').hide();
                $('.no-more-data').show();
            }
            //console.log("Received", args);
            $.ajax({
                type: "GET",
                
                contentType: "html/text",
                dataType: "html",
                cache: false,
                success: function (msg) {
                    if (msg.trim() !== "") {
                        container.append(msg);
                    } else {
                        $('.showMore').hide();
                        $('.no-more-data').show();
                    }
                    pagenumber++;
                    isenabled = true;
                }
            });
        });

        var infiniteScroll = new $.InfiniteScroll('#NewsSectionPaging', true).setup();


    });
</script>




<div class="onePostErea">
    <!-- start onePostErea -->
    <!-- start lftSide -->
    
    <!-- end lftSide -->
    <div class="onePostEreaRit post2">
        <!-- start block1Rit -->
		
	
	
        <div class="block1Rit newCon" id="gridcontainer">
		
            @Html.Action("GetBlockTextList", "Blocks", new { BlockID = 74, JournalID = JID })
        </div>
        
    </div>
   </div>
